<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel CMS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
</head>
<body>
    <main>
        <h1 class="welcome_panel">Bem-vindo ao Painel de Controle</h1>
        <a href="/" class="a_panel">Voltar</a>
    </main>
</body>
</html>